/*******************************
          General
*******************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.parent-container {
  display: flex;
}

.container {
  margin: 30px auto;
  overflow: auto;
  /* border: 1px solid steelblue; */
  padding: 30px;
  border-radius: 5px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

/*******************************
          New
*******************************/

.navbar {
  height: 50px;
  /* background-color: rgba(102, 16, 83, 0.698); */
  /* color: white; */
  color: #333;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  border-radius: 0px;
  margin: 10px 20px;
  gap: 10px;
}

.link{
  color: inherit;
  text-decoration: none;
}

.link:hover{
  color: #333;
}

.link:visited{
  color: #333;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  flex-grow: 1;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
.hover-btn {
  background-color: white;
  border-radius: 50%;
  border: none;
  height: 2em;
  width: 2em;
  padding: 0.4em;
  transition: background 0.2s ease-in-out;

}
.hover-btn:hover {
  background-color: rgb(241, 241, 241);
  /* color: white; */
}

.add-btn {
  outline: none;
  border: none;
  background-color: white;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  padding: 4px 8px;
  transition: background 0.2s ease-in-out;
}

.add-btn:hover {
  background-color: rgb(241, 241, 241);
}


#preview-btn {
  padding: 0;
}

#preview-btn:focus {
  border: none;
}

.login {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 60%;
  height: 75%;
  -webkit-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  box-shadow: 0px 5px 33px -21px rgba(66, 68, 90, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}


.left,.right{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.center{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.or{
  border: 2px solid lightgray;
  border-radius: 50%;
  padding: 10px;
  color: gray;
  background-color: white;
  font-weight: bold;
}

.line{
  width: 0.5px;
  height: 70%;
  background-color: lightgray;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
}

.loginButton{
  width: 150px;
  padding: 15px 25px;
  border-radius: 5px;
  color: white;
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}

.google{
  background-color: #df4930;
}
.facebook{
  background-color: #507cc0;
}
.github{
  background-color: black;
}

.icon{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.submit{
  width: 200px;
  background-color: rgba(128, 0, 128, 0.671);
  color: white;
  font-weight: bold;
  border: none;
  padding: 15px 20px;
  border-radius: 5px;
}

.loginTitle{
  position: absolute;
  top: 175px;
}

@media screen and (max-width: 992px) {
  .card {
    width: 100%;
    margin-bottom: 50px;
  }

  .wrapper {
    width: 65%;
    height: 90%;
    flex-direction: column;
  }

  .loginTitle {
    display: none;
  }

  .center {
    width: 100%;
    position: relative;
  }

  .left {
    padding: 20px;
  }

  .right {
    padding: 20px;
  }

  .line {
    height: 0.5px;
    width: 300px;
  }
}